<h2><%= @video.title %></h2>

<% if @encoding %>

<div id='mediaspace'>This text will be replaced</div>
 
<script type='text/javascript'>
  var so = new SWFObject('/player.swf','mpl','320','240','9');	
  so.addParam('allowfullscreen','true');
  so.addParam('allowscriptaccess','always');
  so.addParam('wmode','opaque');
  so.addVariable('file','<%= @encoding.url %>');
  so.addVariable('image','<%= @encoding.screenshot_url %>');
  so.write('mediaspace');
</script>

<% else %>
<p>Your video has not been encoded yet. Please wait a few moments and <%= link_to 'refresh this page', video_path(@video) %>.</p>
<% end %>

<h2>Encoding details</h2>
<pre><%= @pretty_printed_encodings %></pre>

<%= link_to 'html5 version', video_path(@video) %>