<h2><%= @video.title %></h2>

<p>Here's the raw Panda information:</p>

<p><%= h @video.panda_video.inspect %></p>

<% if @video.panda_video.status == "success" %>
  
  <!-- HTML5 player -->
  <video id="movie" width="320" height="240" preload="none" 
    poster="<%= @encoding.screenshots.first %>" controls>
    <source src="<%= @encoding.url %>" type="video/mp4">
  </video>
  
  <!-- Flash player -->
  <div id='flash_player'>Flash player will appear here</div>

  <script type='text/javascript'>
    var so = new SWFObject('/player.swf','mpl','320','240','9');
    so.addParam('allowfullscreen','true');
    so.addParam('allowscriptaccess','always');
    so.addParam('wmode','opaque');
    so.addVariable('file','<%= @encoding.url %>');
    so.addVariable('image','<%= @encoding.screenshots.first %>');
    so.write('flash_player');
  </script>
  
<% end %>