<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Videos</title>

  <!-- For panda uploader -->
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' %>  
  <%= javascript_include_tag '/panda_uploader/jquery.panda-uploader-0.4.min.js' %>
  
  <!-- For swf player -->
  <%= javascript_include_tag 'swfobject' %>
  
  <%= stylesheet_link_tag '/panda_uploader/panda-uploader' %>
  
  <%= yield :head %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>